name: Post to Bluesky

on:
  workflow_run:
    workflows: ["Deploy to GitHub Pages"]
    types:
      - completed
  workflow_dispatch: # Allow manual trigger

jobs:
  bluesky-post:
    runs-on: ubuntu-latest
    steps:
      - name: Feed to Bluesky
        uses: joschi/blueskyfeedbot@v0.0.4
        with:
          rss-feed: "https://djmurphy.net/rss.xml"
          template: "New post: {{item.title}} {{item.link}}"
          bsky-handle: ${{ secrets.BLUESKY_IDENTIFIER }}
          bsky-password: ${{ secrets.BLUESKY_PASSWORD }}
          cache-file: "cache.json"
